{{ define "footer" }}

</div>
</body>
<br>
<br>
<footer>
    <div class="panda">
        <!-- Круглая голова -->
        <div class="head">
            <!-- Круглая копия головы -->
            <div class="head-copy"></div>
            <!-- Левое ухо ~ светло-серое -->
            <div class="ear-left">
                <!-- Внутреннее ухо ~ тёмно-серое -->
                <div class="inner-ear"></div>
            </div>
            <!-- Правое ухо ~ светло-серое -->
            <div class="ear-right">
                <!-- Внутреннее ухо ~ Тёмно-серое -->
                <div class="inner-ear"></div>
            </div>
            <!-- Левый глаз ~ белый -->
            <div class="eye-left">
                <!-- Зрачок ~ чёрный -->
                <div class="pupil">
                </div>
            </div>
            <!-- Правый глаз ~ белый -->
            <div class="eye-right">
                <!-- Зрачок ~ чёрный -->
                <div class="pupil">
                </div>
            </div>
            <!-- Нос ~ коричневый -->
            <div class="nose">
            </div>
            <!-- Волосы ~ светло-серые -->
            <div class="hair-left"></div>
            <div class="hair-right"></div>
            <!-- Конец головы -->
        </div>
        <!-- Конец невидимого поля -->
    </div>

    <body><a class="b-href" href="#">SatMon <i>© 2018</i> by Vladislav Vegner</a></body>
    <aside><a class="b-href" href="mailto:vegner.vs@uttist.ru">Email: vegner.vs@uttist.ru</a></aside>
    <aside>Создано с использованием <a class="b-href" href="https://icons8.com">Icon pack by Icons8</a></aside>
</footer>

</html>

{{ end }}