{{ define "index" }} {{ template "header" }}
<!-- <h1>Статус спутниковых терминалов</h1> -->
<div id="maintableID">
<table class="maintable">
    <tr>
        {{/* {{range $k, $v := .}} {{if eq $k "IP адрес"}}
        <th>{{$k}}</th>
        <th class="small-font">{{$v.Note}}</th>
        <th>{{$v.SiteID}}</th>
        <th class="small-font">{{$v.StatusNow.Code}}</th>
        {{range $s := $v.StatusOfHour}}
        <th>
            {{$s.Code}}
        </th>
        {{end}} {{end}} {{end}} */}}
        <th>IP адрес</th>
        <th class="small-font">Описание</th>
        <th>SiteID</th>
        <th class="small-font">тек.стат</th>
        <th>00</th><th>01</th><th>02</th><th>03</th><th>04</th><th>05</th><th>06</th><th>07</th><th>08</th><th>09</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th>

    </tr>
    {{range $k, $v := .}} {{if ne $k "IP адрес"}}
    <tr>
        <td><a class="b-href" href="http://{{$k}}/">{{$k}}</a></td>
        <td class="small-font">
            <a class="b-href" href="/edit?IP={{$k}}">
                <img width="18" height="18" alt="Редактирование" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF1SURBVGhD7Zi9SsRAFEZT2YlPoOADWNhZaKtWPoE2oo+hiK3aijaCraAoWGrpD76LtZ16PtyBECfJ7BqYO3IPHFgWstwTZmZ3UzmOUyRreImv+IxnuITFMI13+NWigqbQNDOoux8LqHuOZkmNCJpdZrsYG7jNUzTLAcaGjvmCpkmNeUMTaE8s/7z8RUrMBWYnbOwPXNcbEfpiVjErzdNpkpgbzErbETtOjK7X52SjLSKYEmM+ItgVs41FRAS7YrIxbkTQVMykEUHFrGBW/hohdX1ReyKmRwyBR4w0EfGEseFS9Ygh8IiRHjEE/yJCzKN+Tusf2ifGBu3SRESTTYwN26bJiIAeycSGbqrlaDZCHGFs8LpmIhaw7en3Ih6ilo3pCHGC99j3KH8L6weAueX0iBosJeYWTUaIdwx3uS9mB01GzGKISInR94y5CLGBzZC+GJPsYSxEFhVzhc0A7ZkHPEYdzUWgI/Ua91HLbA4dx3GcAaiqb1gXvuW/ej2aAAAAAElFTkSuQmCC">                </a>
            <a class="b-href" href="/edit?IP={{$k}}">{{$v.Note}}</a>
        </td>
        <td>{{$v.SiteID}}</td>
        <!-- Текущий статус -->
        {{if eq $v.StatusNow.Code "√"}}
            <td class="bggreen">√</td>
        {{else if eq $v.StatusNow.Code "X"}}
            <td class="bgred">X</td>
        {{else}}
        <td class="bggrey">O</td>
        {{end}}
        <!-- Основная таблица статусов спутниковых станций -->
        {{range $s := $v.StatusOfHour}}
            {{if eq $s.NumFail 0}}
                {{if eq $s.NumPass 0}}
                    <td class="bggrey">O</td>
                {{else if ne $s.NumPass 0}}
                    <td class="bggreen">√</td>
                {{end}}
            {{else if ne $s.NumFail 0}}
                {{if eq $s.NumPass 0}}
                    <td class="bgred">X</td>
                {{else if ne $s.NumPass 0}}
                    {{if gt $s.NumPass $s.NumFail}}
                        <td class="bgyellowgreen">√</td>
                    {{else if lt $s.NumPass $s.NumFail}}
                        <td class="bgpalevioletred">X</td>
                    {{else}}
                        <td class="bgyellow">√</td>
                    {{end}}
                {{end}}

            {{end}}
        {{end}} 
    </tr>
    {{end}} {{end}}
</table>
</div><div></div>

<div id="legendID">
<table class="legend">
    <tr>
        <td class="bggreen">√</td>
        <td>- Станция онлайн</td>
        <td class="bgred">X</td>
        <td>- Станция офлайн</td>
        <td class="bggrey">O</td>
        <td>- Станция не проверялась</td>
    </tr>
</table>
</div>


{{ template "footer" }} {{ end }}