html, body {
    background: url(/assets/img/bg.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

table {
    empty-cells: show;
    margin: auto;
    width: 96%;
    border-collapse: separate;
    border-radius: 5px;
    background-color: #aadcdca3;
    box-shadow: black 8px 7px 9px 1px;
}

table td, th {
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.7em;
}

@media (min-width: 1367px) and (max-width: 1500px) {
    table td, th {
    	font-size: 0.9em;
        }
    }

@media (min-width: 1501px) {
    table td, th {
    	font-size: 1.1em;
        }
    }


.maintable a{
    color: #0c0229;
}

#legendID{
    padding-top: 25px;
}


.note{
    font-size: 0.8em
}

.small-font {
    font-size: 0.7em
}


.bggreen {
    background-color: green;
    text-align: center;
}

.bgred {
    text-align: center;
    background-color: red;
}

.bgyellow {
    text-align: center;
    background-color: yellow;
}

.bgyellowgreen {
    text-align: center;
    background-color: yellowgreen;
}

.bgpalevioletred {
    text-align: center;
    background-color: palevioletred;
}

.bggrey {
    text-align: center;
    background-color: grey;
}

.legend {
    empty-cells: show;
    margin: auto;
    align-self: center;
    width: 50%;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #02020245;
    display: grid;
    margin: auto;
    grid-template-columns: 10% 30% 26% 34%;
    color: #ffffff;
    align-content: center;
    align-items: center;
}

footer a{
    color: #ffffff;
}

