<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="assets/css/spa.css" rel="stylesheet">
        <script src="/assets/vue/vue.js"></script>
        <title>Мини-сервер</title>
    </head>
    <body>
       <div id="app">
            <header>
                <div id="logo">
                    <span>SatMon</span>
                </div>
                <div id="menuEditTable" v-if="editAdress === 000">
                    <span>IP-адрес:<input v-on:keyup.13="createAdress()" v-model="IP"/></span>
                    <span>Описание:<input v-on:keyup.13="createAdress()" v-model="Note"/></span>
                    <span>SiteID:<input v-on:keyup.13="createAdress()" v-model="SiteID"/></span>
                    <button id="butSaveAdress" v-on:click="createAdress()">Сохранить</button>
                    <button v-on:click="editAdress = null">Отмена</button>
                </div>
                <div id="buttonEditTable" v-else>
                    <a href="#" v-on:click="createAdress()">Добавить адрес</a>
                    <a href="#" v-on:click="deleteAdress(editAdress, index)">Удалить адрес</a>
                    <a href="#" v-on:click="">Сохранить конфиг</a>
                </div>
            </header>    

            <h1 id="nameTable">Состояние спутниковых станций и серверов</h1>
            <table>
                <!-- <thead>
                    <tr v-for="adress, i  in adresses" v-if="adress.IP == 'IP адрес'">
                        <th>{{adress.IP}}</th>
                        <th>{{adress.Note}}</th>
                        <th>{{adress.SiteID}}</th>
                        <th>{{adress.StatusNow.Code}}</th><th v-for="item in adress.StatusOfHour">{{item.Code}}</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr v-for="adress, i  in adresses" v-if="adress.IP != 'IP адрес'">
                        <td v-if="editAdress === adress.IP">
                            <input v-on:keyup.13="updateAdress(adress)" v-model="adress.IP" />
                        </td>
                        <td v-else><a :href="httpadress(adress.IP)">{{adress.IP}}</a></td>    
                        <td v-if="editAdress === adress.IP">
                            <input v-on:keyup.13="updateAdress(adress)" v-model="adress.Note" />
                        </td>
                        <td  class="note" v-else><a href="#" @click="editAdress = adress.IP">{{adress.Note}}</a></td>
    
                        <td v-if="editAdress === adress.IP">
                            <input v-on:keyup.13="updateAdress(adress)" v-model="adress.SiteID" />
                        </td>
                        <td  class="small-font" v-else>{{adress.SiteID}}</td>
                        <!-- <div class="edtStation" v-if="editAdress === adress.IP">

                                <input v-on:keyup.13="updateAdress(adress)" v-model="adress.IP" />
                                <input v-on:keyup.13="updateAdress(adress)" v-model="adress.Note" />
                                <input v-on:keyup.13="updateAdress(adress)" v-model="adress.SiteID" />
            
                        </div> 
                        <td><a :href="httpadress(adress.IP)">{{adress.IP}}</a></td>    
                        <td class="note"><a href="#" @click="editAdress = adress.IP">{{adress.Note}}</a></td>
                        <td class="small-font">{{adress.SiteID}}</td> -->
                        <td v-bind:class="getBackgroundStatusNow(adress.StatusNow.Code)">{{adress.StatusNow.Code}}</td>
                        <td v-for="item in adress.StatusOfHour"  v-bind:class="getBackgroundStatusOfHour(item)">{{getStatusOfHourCode(item)}}</td>
                    </tr>

                       </tbody>
            </table>
    



       </div>
        
        <script src="/assets/vue/main.js"></script>
    </body>
</html>